.header__underline {
  width: 64px;
  height: 4px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #FCC304;
  border-radius: 32px;
  margin-top: 5px;
}