.learn__link {
  text-decoration: none;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #253757;
  transform: rotate(90deg);
  margin-right: 80px;
}